[submodule ".local/bin/misc"]
	path = .local/bin/misc
	url = https://github.com/signed-log/misc.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/doomemacs/doomemacs
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule ".config/astronvim"]
	path = .config/astronvim
	url = https://github.com/signed-log/astronvim_cfg.git
